<%= form_with(model: transaction) do |form| %>
  <% if transaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount %>
  </div>

  <div>
    <%= form.label :payment_date, style: "display: block" %>
    <%= form.datetime_field :payment_date %>
  </div>
  
  <div>
    <%= form.label :category, style: "display: block" %>
    <%= form.select :category_id, Category.all.map { |category| [category.name, category.id] }, prompt: "Select a category" %>
  </div>

  <div>
    <%= form.label :until_date, style: "display: block" %>
    <%= form.datetime_field :until_date %>
  </div>

  <div>
    <%= form.label :recurring, style: "display: block" %>
    <%= form.checkbox :recurring %>
  </div>

  <div>
    <%= form.label :recurrence, style: "display: block" %>
    <%= form.select :recurrence, Transaction.recurrences.keys.map { |key| [key.humanize, key] }, include_blank: true %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status, Transaction.statuses.keys.map { |key| [key.humanize, key] } %>
  </div>

  <div>
    <%= form.label :comment, style: "display: block" %>
    <%= form.textarea :comment %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
