<div id="<%= dom_id transaction %>">
  <div>
    <strong>Title:</strong>
    <%= transaction.title %>
  </div>

  <div>
    <strong>amount:</strong>
    <%= transaction.amount %>
  </div>

  <div>
    <strong>Payment date:</strong>
    <%= transaction.payment_date %>
  </div>

  <div>
    <strong>Until date:</strong>
    <%= transaction.until_date %>
  </div>

  <div>
    <strong>Recurring:</strong>
    <%= transaction.recurring %>
  </div>

  <div>
    <strong>Recurrence:</strong>
    <%= transaction.recurrence %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= transaction.status %>
  </div>

  <div>
    <strong>Comment:</strong>
    <%= transaction.comment %>
  </div>

</div>
